
/*Mobile device*/
@media screen and (max-width: 576px){
    .header-container, nav ul {
        flex-direction: column;
    }
    section.banner-image img {
        width: 100%;
    }
    nav ul li:nth-child(1), nav ul li:nth-child(3) {
        margin-top: 20px;
    }
    section.banner-section .container {
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-direction: column-reverse;
    }
    section.banner-image {
        padding-top: 20px;
    }
    .banner-info {
        margin-top: 50px;
    }
    section.we-are-gamer .container {
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-direction: column;
    }
    section.we-are-gamer {
        padding-top: 50px;
    }
    .gamers-info {
        text-align: center;
    }
    .games {
        display: flex;
        flex-direction: column;
        text-align: center;
        width: 50%;
        margin: auto;
    }
    .instantly-image img:nth-child(2) {
        width: 150px;
        position: absolute;
        bottom: -35px;
        left: -68px;
    }
    section.play-instantly .container {
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-direction: column;
    }
    .instantly-info {
        width: unset;
        text-align: center;
    }
    .instantly-image img:nth-child(2) {
        width: 130px;
        position: absolute;
        bottom: -35px;
        left: -68px;
    }
    .instantly-image img:nth-child(1) {
        width: 235px;
    }
    section.play-instantly .instantly-image img:nth-child(2) {
        width: 80px;
        position: absolute;
        left: 191px;
        bottom: -19px;
    }
    section.career .container {
        display: flex;
        flex-direction: column;
    }
    .career-image {
        padding-top: 80px;
    }
    .list-info {
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 50px;
    }
    .list-info ul {
        list-style: none;
        color: #FFF;
        font-size: 16px;
        font-weight: 600;
        line-height: 40px;
        padding: 0;
    }
    .career-info p {
        color: #FFF;
        font-size: 16px;
        font-weight: 400;
        line-height: 30px;
    }
    .desktop{
        display: none;
    }
    .mobile{
        display: block;
    }
    .first-line.mobile {
        display: flex;
        flex-wrap: wrap;
    }
    .footer-menu ul {
        display: flex;
        flex-wrap: wrap;
    }
    .gamers-imge img {
        width: 100%;
    }
    .quick-links ul {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 30px;
        flex-wrap: wrap;
    }
    .footer-menu ul li {
        margin-top: -20px;
    }
    .quick-links ul li {
        margin-top: -20px;
    }
    .quick-links {
        padding: 2px 0;
    }
    .career-image img {
        width: 100%;
    }
    .banner-info h2:nth-child(2) {
        font-size: 55px;
        margin-bottom: 20px;
    }
    .banner-info h2:nth-child(1) {
        font-size: 35px;
    }
    .onlinne-game-info h3, .gradient-title  {
        font-size: 35px !important;
    }
    p{
        font-size: 16px !important;
    }
    .unleash {
        font-size: 16px;
    }
    .instantly-info h3 {
        font-size: 35px;
        line-height: 2.6rem;
    }
    .career-info h3 {
        font-size: 35px;
    }
    button {
        font-size: 15px !important;
        padding: 10px 20px !important;
    }
}

@media screen and (max-width:460px) {
    .list-info {
        display: block;
    }
    .career-info {
        text-align: center;
    }
}

/* Tablet version */
@media screen and (min-width: 576px) and (max-width: 1100px) {
    .header-container, nav ul {
        flex-direction: column;
    }
    .description {
        max-width: unset;
    }
    .career-image img {
        width: 100%;
    }
    p.desc {
        width: 260px;
        text-align: center;
    }
    .gamers-imge img {
        width: 100%;
    }
    nav ul li:nth-child(1), nav ul li:nth-child(3) {
        margin-top: 20px;
    }
    section.banner-section .container {
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-direction: column-reverse;
    }
    section.banner-image {
        padding-top: 20px;
    }
    .banner-info {
        margin-top: 50px;
    }
    section.we-are-gamer .container {
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-direction: column;
    }
    section.we-are-gamer {
        padding-top: 50px;
    }
    .gamers-info {
        text-align: center;
    }
    .games {
        display: flex;
        flex-direction: column;
        text-align: center;
        width: 50%;
        margin: auto;
    }
    .instantly-image img:nth-child(2) {
        width: 150px;
        position: absolute;
        bottom: -35px;
        left: -68px;
    }
    section.play-instantly .container {
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-direction: column;
    }
    .instantly-info {
        width: unset;
        text-align: center;
    }
    .instantly-image img:nth-child(2) {
        width: 130px;
        position: absolute;
        bottom: -35px;
        left: -68px;
    }
    .instantly-image img:nth-child(1) {
        width: 300px;
    }
    section.play-instantly .instantly-image img:nth-child(2) {
        width: 130px;
        position: absolute;
        left: 219px;
        bottom: -31px;
    }
    section.career .container {
        display: flex;
        flex-direction: column;
    }
    .career-image {
        padding-top: 80px;
    }
    .list-info {
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 50px;
    }
    .list-info ul {
        list-style: none;
        color: #FFF;
        font-size: 16px;
        font-weight: 600;
        line-height: 40px;
        padding: 0;
    }
    .career-info p {
        color: #FFF;
        font-size: 16px;
        font-weight: 400;
        line-height: 30px;
    }
    .desktop{
        display: none;
    }
    .mobile{
        display: block;
    }
    .first-line.mobile {
        display: flex;
        flex-wrap: wrap;
    }
    .footer-menu ul {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 40px;
        flex-wrap: wrap;
    }
    .footer-menu ul {
        grid-template-columns: repeat(3, 125px);
        display: grid;
    }
    .footer-menu ul li {
        margin-top: -20px;
    }
    .quick-links ul li {
        margin-top: -20px;
    }
    .quick-links {
        padding: 2px 0;
    }
}
